{% extends "base.html" %} 

{% block title %}Welcome!{% endblock %} 

{% block head %} 

{% endblock %}

{% block content %}
    
<div class="center">
  <img src="/static/images/Logo2.png" width="110px" height="110px"><br>
<p style="font-size: 50px;">Welcome to the Chat page!</p>
<h3>On this page, we connect you with trained professionals to support your metal wellbeing</h3>
<p class="text-muted center">Want to join as a counselor? Click <a href="/chat_signup" class="text-muted">here </a>to join our Nicely!</p>

</div>
<div class="row">
    {% for person in people %}
<div class="col-3" style="margin: auto;">
<div class="card" style="width: 18rem;">
    <img src="{{person.media_directory}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">@{{person.name}}</h5>
      <div class="wrapper">
      <p class="card-text hid" style="color: black; text-decoration: none;">{{person.gender}} counselor. {{person.description}}</p>
    </div>
      <a href = "/chat/{{person.name}}" class="btn btn-primary">View details</a>
      <p class = "text-muted" style="font-size: small; padding-top: 5px;">Providing service in {{person.language}}</p>

    <div class="card-footer">
      <p class="card-text">Starting at {{person.fee}}$ per hour</p>
    </div>
    </div>
</div>
</div>
{% endfor %}
</div>

{%- for message in get_flashed_messages() %} 
{{ message }}<br> 
{%- endfor%}

    {% endblock %}