{% extends "base.html" %} 

{% block title %}Welcome!{% endblock %} 

{% block head %} 

{% endblock %}

{% block content %}
    
<div class="container">
    <img src="/static/images/Logo2.png" width="110px" height="110px"><br>
    <div class="container">
    <h4>Depression is a prevalent issue across all age groups, socioeconomic classes, and cultural identities. According to epidemiological surveys, the lifetime prevalence of depression in China is 6.8%, and the number of people suffering from depression is currently about 100 million. Approximately 280,000 people commit suicide each year, and 40% of them suffer from depression and anxiety.</h4><br>

    <h4>Despite the urgency and intensity of the issue, the available systems for depression prevention and intervention are weak. The only method for one to detect depression is to visit a psychiatrist or psychotherapist. This traditional approach is not only costly, but also time-consuming and invasive. The high expenses associated with an in-person appointment and the social stigma attached to it discourage many from receiving the necessary attention. It is also difficult to find help for most of the population in China — many of the credentialed resources are only available in first-tier cities, such as Shanghai, Beijing, and Shenzhen. </h4><br>
        
    <h4>In contrast to the traditional methods, Nicely will offer affordable, efficient, and protective detection and prevention. The cost associated with Nicely is much lower than both in-person and online therapy, which can go up to ¥2000 per hour in China in 2020. Moreover, one-on-one therapy can often take weeks of evaluations to identify the issue. The questionnaires and conversations do not offer a comprehensive view and can often involve bias, which will slow down the process and delay the crucial intervention. Instead of having to take a long time to reach a final conclusion, Nicely can offer a timely analysis on the user’s demand. The prompt results are integral to helping the user become aware of whether they need any help, as any delay to the treatment process could aggravate the issue. </h4><br>
        
    <h4>The accuracy that Nicely guarantees with its AI technology is also sublime. Among all the departments in hospitals, the rate of misdiagnosis is the highest for mental illnesses. The ineffable factors that go into depression and the unpredictable symptoms that a patient might demonstrate makes it difficult to identify the issue. Even for the most credentialed expert, there is much nuance that goes into the intervention of depression. By adopting an advanced NLP algorithm, the analysis that Nicely offers is much more accurate and reliable, which is crucial for one in need of help. </h4><br>
        ​
    <h4>The inclusivity that Nicely has for locations is another asset that will encourage user participation, as the service can be used regardless of time and space. Among the 120,000 companies in China provide psychological counseling services, only a few incorporate a mature online service system. Nicely will provide a solution for the ones that cannot access professional help in their local area, as they can run the program from a click on their phone. </h4><br>
        
    <h4>The user interface of Nicely is also much more respectful toward the user’s privacy and needs. The results that Nicely offers are much more interpretable and comprehensive compared to formal hospital reports. Instead of treating depression as a “disease” or a daunting concern, Nicely offers friendly guidelines that encourage self-care and self-appreciation. The detailed explanations, graphical representations, and longitudinal monitoring are less invasive and indifferent compared to a diagnosis report. Nicely will encourage the users to look at mental health in a positive light and practice self-care as a part of their daily routine. </h4><br>
        
    <h4>In addition to traditional therapy, some other available services are self-care applications for mood logs and journaling. Although these services also have the assets of being inclusive to time and location, they are not as efficient to help identify any alarming trends. These services are much more oriented toward the user’s own input, which is not an accurate method of detecting whether one is in need of help. </h4><br>
        
    <h4>Nicely also runs in an invisible fashion that does not require extra time or effort from the user, unlike journaling services. Journaling is an unsustainable practice for users who do not want to devote extra time, especially considering that there is no clear outcome. Nicely, on the other hand, offers concrete, comprehensible statistics that will help the users clearly identify their mental status and evaluate the appropriate steps to take. </h4><br>
        
</div>
</div>

    {% endblock %}