<!DOCTYPE html>
<html>
  <head>
    <link href="/static/styles/bootstrapmin.min.css" rel="stylesheet"/>
      <link href="/static/styles/Signup.css" rel="stylesheet">
      <link rel="icon" href="/static/images/nicely.svg">
    <title>User login</title>
  </head>

    <body style="background-color: rgb(247, 247, 247);" class="center">


        <img src="/static/images/Logo.png" style="padding-top: 10px;">
    <div class="card" style="width: 30rem; height: 25rem; margin: auto;">
    <h3 style="padding-top: 40px;"> Sign in </h3>
    <form action="{{request.path}}" method="post" style="padding-top: 40px;">
      <div class="form-group">
        <div class="mx-sm-3">
          {{ form.csrf_token }}
          {{ form.username.label(class="card-text sr-only") }}:
          {{ form.username(placeholder="Username", class="form-control") }}
          <br></div>
      <div class="mx-sm-3">
        {{ form.password.label(class="card-text") }}
        {{ form.password(placeholder="Password", class="form-control") }}
      <br></div>
        <input type="submit" value="Submit" class="Button"/>
    </form> <br><br>
    <a href="/signup" class="link">Don't have an account?</a>
    </div><br>
    {%- for message in get_flashed_messages() %} {{ message }}  <br> {%- endfor
      %}
</body>
    