{% extends "base.html" %} 
{% block head %}
<meta charset="uft-8">
<style>body{background-color: rgb(247, 247, 247);}label{padding-bottom: 10px;}</style>
{% endblock %}
{% block title %}Let us know you better!{% endblock %} 

{% block content %}

<div id="myProgress">
    <div id="myBar"></div>
  </div>


<div id="flashed" style="text-align: center;">
{%- for message in get_flashed_messages() %} {{ message }} {%- endfor %}
</div><br />
    <form action="{{request.path}}" method="post" style="padding-top: 15px; border-radius: 15px;" id="myForm">
        {{ form.csrf_token }}
        <div class="container border rounded " style="background-color: white;">
        <div class="text-center">
        <img src="/static/images/Logo2.png" width="110px" height="110px"><br>
        <b style="font-size: 55px; font-family: PingFang SC;">Let us know you better.</b><br><br>
    </div>
        <div class="container" style="width: 1000px; height: 410px;">
        <div class="row">
        <div class="container col">
        <div class="form-group">
            
        {{ form.twitter_username.label }}:
        {{ form.twitter_username(placeholder="Twitter Account", class="form-control inputbox") }}<br><br>
        </div>
        {{ form.first_language.label }}:
        {{ form.first_language(class="form-select textstyle inputbox") }}<br><br><br>
        {{ form.email.label }}:<br>
        {{ form.email(placeholder="Email", class="form-control inputbox") }}<br>
    </div>

        <div class="container col">
            {{ form.demographic.label }}:
            {{ form.demographic(class="form-select inputbox") }}<br><br>

            {{ form.gender.label }}:
            {{ form.gender(class="form-select textstyle inputbox") }}<br><br><br>

            {{ form.number.label }}:<br>
            {{ form.number(placeholder="Phone Number", class="form-control inputbox") }}<br><br>
            </div>

        <div class="container col">
        
            {{ form.work_status.label(style="padding-top: 125px;") }}:
            {{ form.work_status(class="form-select textstyle inputbox") }}
        <!-- <button onclick="parallel()" type="button" class="submit" style="margin-top: 107px;">submit</button> -->
        <input onclick="clickFunc()" type="submit" class="submit" style="margin-top: 107px;"></input>
        </div>
    </div>
    <p class="form-text text-muted">*We will not, in any circumstances, share your personal information with other individuals or organizations without your permission, including public organizations, corporations or individuals. The information above will be used to improve the accuracy of the analysis.*</p><br><br>
    </div><br><br><br>
</div>


        <!-- <div id = "loading" class="container border" style="width: 800px; height: 100px; background-color: rgb(247, 247, 247); border-radius: 3px;">
            <h2>LOADING...</h2>
            <div id="myProgress">
            <div id="myBar">0%</div>
          </div> -->
    </form>

    <script>
        const progress = document.getElementById("myProgress")
        progress.style.display = "none"
        var i = 0;
    
        const clickFunc = () => {
            if (document.getElementById('myForm').checkValidity() == true){
                parallel()
            }
        }
        const progressbar = () => {
            return new Promise((resolve, reject) => {
                progress.style.display = "inline-block"
            if (i == 0) {
                i = 1;
                var elem = document.getElementById("myBar");
                var width = 1;
                var id = setInterval(frame, 10);
                function frame() {
                if (width >= 100) {
                    progress.style.display = "none"
                    clearInterval(id);
                    i = 0;
                    resolve("progress finished")
                } else {
                    width+=0.06;
                    elem.style.width = width + "%";
                }
                }
            }
            })
        }
        
        const submit = () => {
            const flash_text = document.getElementById("flashed")
            document.getElementById("myForm").submit()
            return new Promise((resolve, reject) => {
                    resolve("upload success")
            })
        }
        
        async function parallel() {
          console.log('parallel start')
        
          await Promise.all([
              (async()=>console.log(await progressbar()))(),
              (async()=>console.log(await submit()))()
          ])
        }
        
    window.onload = () => {
        console.log("loaded")
        if (document.getElementById("flashed").innerText == "Records were successfully added"){
            window.location.replace("/dashboard")
        }
    }
    
    </script>

    {% endblock %}